<h4>title</h4>
<input name="title" type="text"></input>
<h4>description</h4>
<input name="description" type="text"></input>
<div class="friend-section"></div>

<button class="add-friend">add friend</button>

<div class="activity-section"></div>

<div class="new-activity-dropdown" style="display:none">
	<p>add activity</p>
	<input name="activity-location" type="text"></input>
	<input name="activity-title" type ="text"></input>
	<input name ="activity-description" type ="text"></input>
	<button class="submit-activity">submit</button>
</div>
<button class="add-activity">add activity</button>
<div class="time-section"></div>
<button class="add-time">add time</button>

<button class="submit">done</button>