
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<div class="container">
  <div class="form-group">
    <label for="eventTitle">Title</label>
    {{#if createNew}}
    <input type="text" class="form-control" id="eventTitle" placeholder="Enter title">
    {{else}}
        <p>{{title}}</p>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="eventDescription">Description</label>
	 {{#if createNew}}
    <input type="text" class="form-control" id="eventDescription" placeholder="Enter Description">
    {{else}}
        <p>{{description}}</p>
      {{/if}}
  </div>


<div class="friend-section">
  <label for="friendWell">Friends</label>
  <div class="well well-sm" id="friendWell">
    <br/>
	<div id="friendContainer">
	</div>
	<br/>
  </div>
</div>
{{#if createNew}}
	<button type="button" class="btn btn-default add-friends">Add Friend + </button>
{{/if}}
<br/>
<br/>

<div class="activity-section">
  <label for="activityContainer">Activity</label>
  <div id="activityContainer">
  </div>
</div>
{{#if createNew}}
<button type="button" class="btn btn-default add-activity">Add Activity + </button>
{{/if}}
<div class="new-activity-dropdown" style="display:none">
	<p>add activity</p>
	<!--<input name="activity-location" type="text"></input>
	<input name="activity-title" type ="text"></input>
	<input name ="activity-description" type ="text"></input>
	<button class="submit-activity">submit</button>-->
    <select id="placeTypes">
      {{#each placeTypes}}
          <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select id="placeRadius">
      {{#each placeRadius}}
          <option value="{{this}}">{{this}}km</option>
      {{/each}}
    </select>  
  <input id="userAddrField" name="address" placeholder="enter an address" type="text" class="text" />
  <button id="searchAddress">search</button>
  <button id="geolocate">geolocate</button> 
    <div id="map-canvas" style="width: 600px; height: 400px; background-color: grey"></div>
    <button id="findplaces">find</button> 
    <div class="found-section"></div>
</div>

<br/>
<br/>

<div class="time-section">
  <label for="timeContainer">Time</label>
  {{#if createNew}}
      Start time: <input type="text" class="startT hasDatepicker" style="border:0; color:#f6931f; font-weight:bold;">
      End time: <input type="text" class="endT hasDatepicker" style="border:0; color:#f6931f; font-weight:bold;">
      <button type="button" class="btn btn-default submit-time">add time</button>
  {{else}}
    <div class="slider">
      <p>
        <div class="content"></div>
        
      </p>

      <div class="slider-range">
        <div class="other-ranges"></div>
      </div>
      Start time: <input type="text" class="startT" style="border:0; color:#f6931f; font-weight:bold;">
      End time: <input type="text" class="endT" style="border:0; color:#f6931f; font-weight:bold;">
      <button type="button" class="btn btn-default submit-time">add time</button>
    </div>

  {{/if}}
</div>


<br/>
<br/>
<div class="center-block">
{{#if createNew}}
<button class="btn btn-default text-center submit">
done</button>
{{/if}}
</div>
</div>