
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<div class="container">
  <div class="form-group">
    <label for="eventTitle">Title</label>
    <input type="text" class="form-control" id="eventTitle" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="eventDescription">Description</label>
	<input type="text" class="form-control" id="eventDescription" placeholder="Enter Description">
  </div>

<div class="friend-section">
  <label for="friendWell">Friends</label>
  <div class="well well-sm" id="friendWell">
    <br/>
	<div id="friendContainer">
	</div>
	<br/>
  </div>
</div>
<button type="button" class="btn btn-default">Add Friend + </button>
<br/>
<br/>
<div class="activity-section">
  <label for="activityContainer">Activity</label>
  <div id="activityContainer">
  </div>
</div>
<button type="button" class="btn btn-default">Add Activity + </button>

<!--<div class="new-activity-dropdown" style="display:none">
	<p>add activity</p>
	<input name="activity-location" type="text"></input>
	<input name="activity-title" type ="text"></input>
	<input name ="activity-description" type ="text"></input>
	<button class="submit-activity">submit</button>
</div>-->

<br/>
<br/>

<div class="time-section">
  <label for="timeContainer">Time</label>
  <div id="timeContainer">
  </div>
</div>
<button type="button" class="btn btn-default">add time</button>

<br/>
<br/>
<div class="center-block">
<button class="btn btn-default text-center">done</button>
</div>
</div>