<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="jumbotron">
	  <div class="container">
        <h1>Sign In</h1>
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Username" name="email"></input>
		</div>
		<div class="input-group">
		  <input type="password" class="form-control" placeholder="password" name="password"></input>
		</div>
        <p><a class="btn btn-primary btn-lg sign-in-btn" role="button">Sign In</a></p>
      </div>
	</div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
	  <div class="container">
        <h1>Sign Up Now!</h1>
        <p>Join Waterdo to start hanging out with your friends!</p>
        <p><a class="btn btn-success btn-lg" role="button">Sign up</a></p>
	  </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
